<a href="https://colab.research.google.com/github/Alena-Ab/lingdata/blob/main/homework22-23/hw1_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ДОМАШНЯЯ РАБОТА №1 (pandas)
### Требования к оформлению тетрадок прописаны в первой тетрадке учебных материалов.

### **Мягкий дедлайн: 6 октября.**
### **Жёсткий дедлайн: 11 октября.**
### После мягкого дедлайна за каждое задание можно получить только половину баллов. После жёсткого дедлайна работы не принимаются.


### **Критерии оценивания.** За каждую часть можно получить по 2 балла. 9/10 баллов можно получить только в том случае, если Вы не просто правильно выполните задания, но также построите графики и сделаете какие-то выводы на основе полученных результатов. Напишите, что кажется Вам закономерным/необычным. Какие ещё вопросы Вы бы задали к данным и как (предложите фреймворк кода)? Подумайте об ограничениях, особенностях данных и тд.

### Удачи!

______________________________________________________________________________________________________________________________

### Вам предстоит проанализировать [датасет](https://www.kaggle.com/datasets/adilshamim8/educational-backgrounds-of-successful-people), содержащий сведения об образовании известных успешных людей.

## ЧАСТЬ 1: базовый анализ и очистка данных

#### Загрузите датасет и узнайте его размер, типы данных в столбцах.

In [2132]:
import pandas as pd

df = pd.read_csv("successful_educations.csv")

In [2133]:
df.shape #размер

(125, 10)

In [2134]:
df.dtypes #типы данных

Name                         object
Profession                   object
Degree                       object
Field                        object
Institution                  object
Graduation Year              object
Country                      object
University Global Ranking    object
GPA (or Equivalent)          object
Scholarship/Award            object
dtype: object

#### Найдите количество пропущенных значений в каждом столбце. Выведите первые 5 строк, последние 3 строки и 2 случайные строки, а также с 10 по 15 строки.

In [2135]:
NaN = df.isnull().sum() #количество пропущенных значений
print(NaN)

Name                          0
Profession                    3
Degree                        9
Field                        10
Institution                  10
Graduation Year              16
Country                       4
University Global Ranking    45
GPA (or Equivalent)          39
Scholarship/Award            40
dtype: int64

In [2136]:
df.head(5) #первые 5 строк

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13,3.7,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5,NaN,Dean’s List
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995,USA,3,3.8,Fellowship in Engineering
3,Sheryl Sandberg,Tech Executive,Master of Business Administration,Business Administration,Harvard Business School,1995,USA,2,3.9,Hoover Fellowship
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16,3.6,Marquis Scholar

In [2137]:
df.tail(3) #последние 3 строки

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
122,Aliko Dangote,Business,Bachelor's Degree,Business Administration,Al-Azhar University,1977,Nigeria,NaN,NaN,NaN
123,Gennady Timchenko,Business,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN
124,Idan Ofer,Business,Bachelor's Degree,Economics and Management,London School of Economics,1987,United Kingdom,49,NaN,NaN

In [2138]:
df.sample(2) #2 случайные строки

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16,3.6,Marquis Scholar
116,Melinda French Gates,Philanthropist,MBA and BA,Computer Science and Economics,Duke University,1986,USA,NaN,NaN,Duke University Distinguished Alumna Award

In [2139]:
df.loc[10:15] #с 10 по 15 строки

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
10,Marie Curie,Scientist,Doctor of Philosophy,Physics,University of Paris,1903,France,35,NaN,Nobel Fellowship
11,Barack Obama,Politician,Juris Doctor,Law,Harvard Law School,1991,USA,2,3.1,Harvard Law Review Editor
12,Tim Cook,Tech Executive,Master of Business Administration,Business Administration,Fuqua School of Business (Duke University),1988,USA,26,3.8,Fuqua Scholar
13,Serena Williams,Athlete,Bachelor of Science,Business Administration,University of California,2021,USA,40,3.6,Student-Athlete Academic Award
14,Sergey Brin,Entrepreneur,Master of Science,Computer Science,Stanford University,1995,USA,3,3.9,National Science Foundation Fellowship
15,Larry Page,Entrepreneur,Master of Science,Computer Engineering,Stanford University,1995,USA,3,3.9,NSF Graduate Fellowship

#### Удалите колонку Scholarship/Award.

In [2140]:
df_new = df.drop(columns=['Scholarship/Award'])
df_new.head(2) #проверка

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent)
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13,3.7
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5,NaN

#### Переименуйте колонку "Profession", заменив на "Occupation".

In [2141]:
df = df.rename(columns={'Profession': 'Occupation'})
df.head(2) #проверка

,Name,Occupation,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13,3.7,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5,NaN,Dean’s List

####  Соберите статистику по столбцу GPA при помощи метода .describe(), не забудьте про NA.

In [2142]:
df['GPA (or Equivalent)'].unique()  #проверка содержимого

array(['3.7', nan, '3.8', '3.9', '3.6', '3.5', '3.1', '02:02:00', '4.0'],
      dtype=object)

In [2143]:
def gpa_to_num(gpa):
    if ':' in str(gpa):
        return None
    else:
        return float(gpa) #убираем лишнее и переводим строки в float


df['GPA (or Equivalent)'] = df['GPA (or Equivalent)'].apply(gpa_to_num)
df['GPA (or Equivalent)'].unique()

array([3.7, nan, 3.8, 3.9, 3.6, 3.5, 3.1, 4. ])

In [2144]:
df['GPA (or Equivalent)'].describe() #статистика

count    85.000000
mean      3.771765
std       0.146069
min       3.100000
25%       3.700000
50%       3.800000
75%       3.900000
max       4.000000
Name: GPA (or Equivalent), dtype: float64

#### Заполните пропуски в столбце GPA средним значением.

In [2145]:
df['GPA (or Equivalent)'] = df['GPA (or Equivalent)'].fillna(df['GPA (or Equivalent)'].mean())

In [2146]:
df['GPA (or Equivalent)'].unique() #проверка

array([3.7       , 3.77176471, 3.8       , 3.9       , 3.6       ,
       3.5       , 3.1       , 4.        ])

## ЧАСТЬ 2: фильтрация и поиск

#### Выведите всех выпускников Лиги плюща (Harvard University, Yale University, Princeton University, Columbia University, Brown University, University of Pennsylvania, Cornell University, Dartmouth College).

In [2147]:
df.loc[df.Institution.isin(['Harvard University',"Yale University","Princeton University","Columbia University","Brown University","University of Pennsylvania","Cornell University","Dartmouth College"])]

,Name,Occupation,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13,3.700000,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5,3.771765,Dean’s List
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16,3.600000,Marquis Scholar
9,Mark Zuckerberg,Entrepreneur,Dropped Out,computer science and psychology,Harvard University,NaN,USA,5,3.771765,NaN
18,Emma Watson,Actor,Bachelor of Arts,English Literature,Brown University,2014,USA,14,3.500000,Rhodes Scholar Finalist
27,Neil deGrasse Tyson,Astrophysicist,PhD,Astrophysics,Columbia University,1991,USA,7,3.900000,NASA Fellowship
31,Yo-Yo Ma,Musician,Bachelor,Liberal Arts,Harvard University,1976,USA,3,3.800000,Presidential Medal of Freedom
33,MacKenzie Scott,Author/Philanthropist,Bachelor,English,Princeton University,1992,USA,6,3.900000,Toni Morrison Thesis Prize
43,Andrea Jung,Business Executive,Bachelor,English Literature,Princeton University,1979,USA,6,3.771765,Princeton Scholar
44,John Legend,Musician,Bachelor,English,University of Pennsylvania,1999,USA,8,3.900000,University Scholar
45,Anne Wojcicki,Tech CEO,Bachelor,Biology,Yale University,1996,USA,3,3.800000,Research Excellence Award
46,Fareed Zakaria,Journalist,PhD,Political Science,Harvard University,1993,USA,3,3.771765,Phi Beta Kappa
47,Mindy Kaling,Actor/Writer,Bachelor,Playwriting,Dartmouth College,2001,USA,12,3.700000,Eleanor Frost Prize
57,Natalie Portman,Actor,Bachelor,Psychology,Harvard University,2003,USA,3,3.900000,Research Award
58,Warren Buffett,Investor,Master,Economics,Columbia University,1951,USA,7,3.900000,NaN
61,Steve Ballmer,Entrepreneur,Bachelor,Mathematics,Harvard University,1977,USA,3,3.800000,Academic Excellence
63,Michael Bloomberg,Entrepreneur,MBA,Business,Harvard University,1966,USA,3,3.800000,Merit Award
73,Stephen Schwarzman,Finance,MBA,Business,Harvard University,1972,USA,3,3.900000,Merit Award
75,Len Blavatnik,Entrepreneur,Master,Computer Science,Columbia University,1981,USA,7,3.900000,Merit Scholarship
102,Ken Griffin,Finance,Bachelor,Economics,Harvard University,1989,USA,3,3.800000,NaN
103,Eduardo Saverin,Entrepreneur,Bachelor,Economics,Harvard University,2006,USA,3,3.700000,NaN
121,Daniel Gilbert,Psychologist,Ph.D.,Psychology,Yale University,1984,USA,14,3.771765,American Psychological Association Distinguish...

#### Найдите всех нобелевских лауреатов и выведите только их имена, страну и род деятельности.

In [2148]:
df['Scholarship/Award'].unique() #проверка на то, какие бывают варианты записи нобелевских

array(['Dean’s List', 'Fellowship in Engineering', 'Hoover Fellowship',
       'Marquis Scholar', 'Scholarship Winner', 'Honorary Award',
       'Academic Excellence Award', 'Nobel Peace Prize', nan,
       'Nobel Fellowship', 'Harvard Law Review Editor', 'Fuqua Scholar',
       'Student-Athlete Academic Award',
       'National Science Foundation Fellowship',
       'NSF Graduate Fellowship', 'DAAD Scholarship',
       'Trudeau Foundation Scholar', 'Rhodes Scholar Finalist',
       'Academy Award Winner', 'Magna Cum Laude', 'Nobel Prize Physics',
       'Honorary Degree', 'Kennedy Center Honor', 'Alpha Kappa Alpha',
       'Honorary PhD', 'National Merit Scholar', 'NASA Fellowship',
       'Phi Beta Kappa', 'Presidential Medal of Freedom',
       'Fulbright Scholar', 'Toni Morrison Thesis Prize',
       'Outstanding Graduate', 'Research Excellence Award',
       'Paul & Daisy Soros Fellow', 'Presidential Scholar',
       'Fulbright Scholarship', 'Ernst & Young Award', 'GM Fellowship',
       'Internal Medicine Award', 'Princeton Scholar',
       'University Scholar', 'Eleanor Frost Prize', 'Comedy Award',
       'Directors Guild Award', 'Fashion Excellence Award',
       'MacArthur Fellowship', 'Emmy Award Winner',
       'Opera Excellence Award', 'Neuroscience Fellow', 'Research Award',
       'Academic Excellence', 'Merit Award', 'Research Grant',
       'Merit Scholarship', 'Academic Merit', 'Research Fellowship',
       'Duke University Distinguished Alumna Award',
       'French Legion of Honour',
       'National Medal of Technology and Innovation (2011)',
       'National Academy of Engineering Member/ Marconi Prize (2012)',
       'American Psychological Association Distinguished Scientific Contributions Award'],
      dtype=object)

In [2149]:
df_nobel = df.dropna()
df_nobel.loc[df_nobel["Scholarship/Award"].str.startswith("Nobel"),
    ['Name', 'Country', 'Occupation']]

                Name Country Occupation
8   Malala Yousafzai      UK   Activist
10       Marie Curie  France  Scientist
21   Stephen Hawking      UK  Physicist

## ЧАСТЬ 3: создание и преобразование столбцов

#### Создайте колонку 'Top_University' со значением True для университетов, входящих в топ-50. Обратите внимание на значения типа "231–240".

In [2150]:
df['University Global Ranking'].unique()  #проверка данных

array(['13', '5', '3', '2', '16', '11', nan, '301–350', '4', '35', '26',
       '40', '231–240', '14', '161', '62', '7', '23', '58', '6', '122',
       '1', '28', '8', '12', '15', '10', '27', '43', '597', '60', '65',
       '89', '137', '1200', '801', '366', '46', '49'], dtype=object)

In [2151]:
def ranking_to_num(ranking):
    if '–' in str(ranking):
        return None
    else:
        return float(ranking) #убираем лишнее


df['University Global Ranking'] = df['University Global Ranking'].apply(ranking_to_num)
df['University Global Ranking'].unique()

array([1.30e+01, 5.00e+00, 3.00e+00, 2.00e+00, 1.60e+01, 1.10e+01,
            nan, 4.00e+00, 3.50e+01, 2.60e+01, 4.00e+01, 1.40e+01,
       1.61e+02, 6.20e+01, 7.00e+00, 2.30e+01, 5.80e+01, 6.00e+00,
       1.22e+02, 1.00e+00, 2.80e+01, 8.00e+00, 1.20e+01, 1.50e+01,
       1.00e+01, 2.70e+01, 4.30e+01, 5.97e+02, 6.00e+01, 6.50e+01,
       8.90e+01, 1.37e+02, 1.20e+03, 8.01e+02, 3.66e+02, 4.60e+01,
       4.90e+01])

In [2152]:
df['Top_University'] = df['University Global Ranking'] <= 50 #создаем колонку
df.head() #проверка

,Name,Occupation,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award,Top_University
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13.0,3.700000,Dean’s List,True
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5.0,3.771765,Dean’s List,True
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995,USA,3.0,3.800000,Fellowship in Engineering,True
3,Sheryl Sandberg,Tech Executive,Master of Business Administration,Business Administration,Harvard Business School,1995,USA,2.0,3.900000,Hoover Fellowship,True
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16.0,3.600000,Marquis Scholar,True

#### Создайте колонку Academic_Performance, в которую внесите значение:
#### - "High", если GPA выше 3.5 баллов,
#### - "Medium", если GPA от 3 до 3.49 баллов,
#### - "Low", если GPA ниже 3 баллов.

In [2153]:
def gpa_value(value):
    if value >= 3.5:
        return 'High'
    elif value < 3:
        return 'Low'
    else:
        return 'Medium' #сортируем значения


df['Academic_Performance'] = df['GPA (or Equivalent)'].apply(gpa_value) #новая колонка
df.head() #проверяем

,Name,Occupation,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award,Top_University,Academic_Performance
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13.0,3.700000,Dean’s List,True,High
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5.0,3.771765,Dean’s List,True,High
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995,USA,3.0,3.800000,Fellowship in Engineering,True,High
3,Sheryl Sandberg,Tech Executive,Master of Business Administration,Business Administration,Harvard Business School,1995,USA,2.0,3.900000,Hoover Fellowship,True,High
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16.0,3.600000,Marquis Scholar,True,High

#### Посмотрите на уникальные значения в колонке Degree и приведите их к единообразию (Bachelor of Science -> Bachelor).

In [2154]:
df['Degree'].value_counts()  #проверка данных (+количества каждого degree)

Degree
Bachelor                             46
Master                               14
MBA                                   8
PhD                                   7
Dropout                               5
Master of Science                     4
Juris Doctor                          4
Master of Business Administration     3
Bachelor of Science                   3
Ph.D.                                 3
Doctor of Philosophy                  2
Dropped Out                           2
Engineering                           2
Bachelor's Degree                     2
High School                           2
Undergraduate Studies                 1
Honorary Doctorate                    1
Master/MBA                            1
Bachelor of Arts                      1
Master of Arts                        1
No Degree                             1
MD                                    1
Specialist Degree                     1
MBA and BA                            1
Name: count, dtype: int64

In [2155]:
def degrees(degrees):
  if ('Master' in str(degrees) or 'MD' in str(degrees) or 'MBA' in str(degrees)): #"MBA and BA" я отнесла к Master как к общему, тк нельзя ведь получить магистра без бакалавра (поэтому и код начала с Master)
        return 'Master'
  elif 'Bachelor' in str(degrees):
          return 'Bachelor'
  elif ('Ph' in str(degrees) or 'Doctor' in str(degrees)):
          return 'Doctor'
  elif 'Drop' in str(degrees):
          return 'Dropped Out'
  elif 'Engineering' in str(degrees):
          return 'Not specified'
  elif 'Specialist' in str(degrees):
          return 'Specialist'
  return degrees #приводим к приблизительно общему виду (specialist degree я поменяла на specialist ради красоты)

df_degrees = pd.read_csv("successful_educations.csv") #на всякий случай новый датасет

df_degrees['Degree'] = df['Degree'].apply(degrees)
df_degrees['Degree'].value_counts()

Degree
Bachelor                 52
Master                   33
Doctor                   17
Dropped Out               7
High School               2
Not specified             2
Undergraduate Studies     1
No Degree                 1
Specialist                1
Name: count, dtype: int64

In [2156]:
df_degrees['Degree'].unique() #проверка номер два

array(['Bachelor', 'Dropped Out', 'Master', 'Doctor',
       'Undergraduate Studies', 'High School', nan, 'Not specified',
       'No Degree', 'Specialist'], dtype=object)

## ЧАСТЬ 4: агрегация и группировка

#### Найдите топ-5 университетов по количеству выпускников в датасете.

In [2157]:
df_graduated = df_degrees[df_degrees['Degree'] != 'Dropped Out'] #убираем отчислившихся
df_graduated['Institution'].value_counts().head()

Institution
Stanford University    9
Harvard University     8
UCLA                   4
Columbia University    3
University of Paris    3
Name: count, dtype: int64

#### Найдите топ-5 самых популярных областей обучения среди предпринимателей.

In [2158]:
df_popular = df[df['Occupation'].str.contains('Entrepreneur', na=False)] #новый дф из предпринимателей

df_popular['Field'].value_counts() #смотрим, какие есть значения

Field
Computer Science                               9
Engineering                                    6
Business                                       3
Economics                                      2
Physics & Economics                            1
computer science and psychology                1
Computer Engineering                           1
Computer Science and Electrical Engineering    1
computer science                               1
Mathematics                                    1
Biology                                        1
Commerce                                       1
Electrical Engineering                         1
Software Engineering                           1
Sociology                                      1
mechanical engineering                         1
Mathematics & Economics                        1
Name: count, dtype: int64

In [2159]:
def fields(field):
    if 'nan' in str(field):
        return None
    else:
        capitalized = str(field).capitalize()
        return capitalized #чистим данные от пустых строк, приводим к общему виду


df_popular['Field'].apply(fields).value_counts().head() #применяем функцию и смотрим топ

Field
Computer science                   10
Engineering                         6
Business                            3
Economics                           2
Computer science and psychology     1
Name: count, dtype: int64

#### Определите топ-5 стран с самыми высокими значениями GPA.

In [2160]:
df.groupby(by='Country').agg({'GPA (or Equivalent)': 'max'}).sort_values('GPA (or Equivalent)', ascending=False).head()

             GPA (or Equivalent)
Country
Switzerland                  4.0
USA                          4.0
China                        3.9
France                       3.9
Austria                      3.8

#### Сгруппируйте записи по профессиям и посчитайте:
#### - количество людей в каждой профессии,
#### - средний GPA для каждой профессии,
#### - количество людей с разными уровнями образования для каждой профессии.

In [2161]:
df.groupby(by='Occupation').size() #количество людей в профессии

Occupation
Activist                              1
Actor                                 4
Actor/Comedian                        2
Actor/Podcaster                       1
Actor/Scientist                       1
Actor/Singer                          1
Actor/Writer                          1
Astrophysicist                        1
Athlete                               1
Author                                3
Author/Philanthropist                 1
Business                             23
Business Executive                    4
Business Leader                       1
Businessman (Co-owner of Chanel)      1
Businessman and Software Engineer     1
Comedian                              1
Comedian/Actor                        1
Education Executive                   1
Engineer and Businessman              1
Entrepreneur                         35
Fashion                               2
Film Director                         1
Finance                               4
Investor                              1
Journalist                            1
Lawyer/Author                         1
Media Executive                       2
Musician                              2
Nonprofit Executive                   1
Philanthropist                        2
Physicist                             1
Politician                            4
Psychologist                          1
Scientist                             1
TV Host/Author                        1
TV Host/Designer                      1
Tech CEO                              5
Tech Executive                        5
dtype: int64

In [2162]:
df.groupby(by='Occupation').agg({'GPA (or Equivalent)': 'mean'}).sort_values('Occupation') #средний гпа для каждой профессии

                                   GPA (or Equivalent)
Occupation
Activist                                      3.771765
Actor                                         3.735882
Actor/Comedian                                3.750000
Actor/Podcaster                               3.600000
Actor/Scientist                               4.000000
Actor/Singer                                  3.800000
Actor/Writer                                  3.700000
Astrophysicist                                3.900000
Athlete                                       3.600000
Author                                        3.790588
Author/Philanthropist                         3.900000
Business                                      3.738005
Business Executive                            3.760882
Business Leader                               3.700000
Businessman (Co-owner of Chanel)              3.771765
Businessman and Software Engineer             3.771765
Comedian                                      3.771765
Comedian/Actor                                3.700000
Education Executive                           4.000000
Engineer and Businessman                      3.771765
Entrepreneur                                  3.804975
Fashion                                       3.685882
Film Director                                 3.700000
Finance                                       3.900000
Investor                                      3.900000
Journalist                                    3.771765
Lawyer/Author                                 3.700000
Media Executive                               3.685882
Musician                                      3.850000
Nonprofit Executive                           3.800000
Philanthropist                                3.785882
Physicist                                     3.771765
Politician                                    3.603824
Psychologist                                  3.771765
Scientist                                     3.771765
TV Host/Author                                3.700000
TV Host/Designer                              3.771765
Tech CEO                                      3.760000
Tech Executive                                3.780000

In [2163]:
df_degrees.groupby('Profession')['Degree'].value_counts() #количество людей с разными уровнями образования для каждой профессии

Profession                         Degree
Activist                           Undergraduate Studies     1
Actor                              Bachelor                  2
                                   High School               1
Actor/Comedian                     Bachelor                  1
                                   Master                    1
Actor/Podcaster                    Bachelor                  1
Actor/Scientist                    Doctor                    1
Actor/Singer                       Master                    1
Actor/Writer                       Bachelor                  1
Astrophysicist                     Doctor                    1
Athlete                            Bachelor                  1
Author                             Master                    2
                                   Bachelor                  1
Author/Philanthropist              Bachelor                  1
Business                           Bachelor                 17
                                   Doctor                    1
                                   Dropped Out               1
                                   Master                    1
                                   Specialist                1
Business Executive                 Master                    2
                                   Bachelor                  1
                                   High School               1
Business Leader                    Master                    1
Businessman and Software Engineer  Doctor                    1
Comedian/Actor                     Bachelor                  1
Education Executive                Master                    1
Engineer and Businessman           Doctor                    1
Entrepreneur                       Bachelor                 15
                                   Master                   11
                                   Dropped Out               5
                                   Not specified             2
                                   No Degree                 1
Fashion                            Bachelor                  1
                                   Dropped Out               1
Film Director                      Bachelor                  1
Finance                            Master                    2
                                   Bachelor                  1
                                   Doctor                    1
Investor                           Master                    1
Journalist                         Doctor                    1
Lawyer/Author                      Doctor                    1
Media Executive                    Bachelor                  1
                                   Doctor                    1
Musician                           Bachelor                  2
Nonprofit Executive                Doctor                    1
Philanthropist                     Master                    2
Physicist                          Doctor                    1
Politician                         Doctor                    4
Psychologist                       Doctor                    1
Scientist                          Doctor                    1
TV Host/Author                     Bachelor                  1
TV Host/Designer                   Bachelor                  1
Tech CEO                           Master                    3
                                   Bachelor                  2
Tech Executive                     Master                    5
Name: count, dtype: int64

#### Сгруппируйте данные сначала по стране и профессии. Посчитайте:
#### - количество людей,
#### - средний GPA.

In [2164]:
df.groupby(by=['Country', 'Occupation']).size() #количество людей

Country         Occupation
 USA            Philanthropist    1
Australia       Business          1
Austria         Business          1
Azerbaijan      Business          1
Canada          Author            1
                                 ..
USA             Psychologist      1
                TV Host/Author    1
                Tech CEO          4
                Tech Executive    5
United Kingdom  Business          1
Length: 65, dtype: int64

In [2165]:
df.groupby(by=['Country', 'Occupation']).agg({'GPA (or Equivalent)': 'mean'}) #средний GPA

                               GPA (or Equivalent)
Country        Occupation
 USA           Philanthropist             3.771765
Australia      Business                   3.771765
Austria        Business                   3.800000
Azerbaijan     Business                   3.600000
Canada         Author                     3.700000
...                                            ...
USA            Psychologist               3.771765
               TV Host/Author             3.700000
               Tech CEO                   3.800000
               Tech Executive             3.780000
United Kingdom Business                   3.771765

[65 rows x 1 columns]

#### Удалите NA в столбце с годом выпуска, преобразуйте значения в тип datetime64, сделайте столбец индексом датафрейма и сгруппируйте по десятилетиям (метод .resample). Посчитайте:
#### - количество выпускников в каждом десятилетии,
#### - наиболее популярную область обучения для каждого десятилетия,
#### - средний GPA.
#### PS: сначала избавьтесь от NA в соответствующей колонке.

In [2166]:
df.head(2) #смотрим названия нужных столбцов и их формат

,Name,Occupation,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award,Top_University,Academic_Performance
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13.0,3.700000,Dean’s List,True,High
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5.0,3.771765,Dean’s List,True,High

In [2167]:
df_alumni = pd.read_csv("successful_educations.csv") #новый датасет

df_alumni['Graduation Year'].unique()  #проверяем

array(['1997', '1975', '1995', '1986', '1980', '1987', '1990', '2021',
       nan, '1903', '1991', '1988', '2014', '1992', '1966', '1989',
       '1999', '1968', '1993', '1976', '1973', '2002', '2003', '1979',
       '1996', '2001', '2000', '2007', '1951', '1977', '1962', '1963',
       '1971', '1961', '1972', '1981', '1967', '2005', '1994', '2004',
       '1965', '1983', '1999 ', '1982', '2018', '2006',
       'USA(residence)/ Hungary (origin)', '1984'], dtype=object)

In [2168]:
def years(year):
    if 'USA(residence)/ Hungary (origin)' in str(year):
        return None
    if pd.isna(year):
        return None
    return str(year).strip() #убираем лишнее

df_alumni['Graduation Year'] = df_alumni['Graduation Year'].apply(years)

df_alumni = df_alumni.dropna(subset=['Graduation Year']) #удаляем NA в столбце с годом выпуска

df_alumni['Graduation Year'].unique()  #проверяем

array(['1997', '1975', '1995', '1986', '1980', '1987', '1990', '2021',
       '1903', '1991', '1988', '2014', '1992', '1966', '1989', '1999',
       '1968', '1993', '1976', '1973', '2002', '2003', '1979', '1996',
       '2001', '2000', '2007', '1951', '1977', '1962', '1963', '1971',
       '1961', '1972', '1981', '1967', '2005', '1994', '2004', '1965',
       '1983', '1982', '2018', '2006', '1984'], dtype=object)

In [2169]:
df_alumni['Graduation Year'] = pd.to_datetime(df_alumni['Graduation Year'], format='%Y')  #меняем тип на datetime64

df_alumni = df_alumni.set_index('Graduation Year')  #делаем года выпуска индексами
df_alumni.head(2)  #проверяем

,Name,Profession,Degree,Field,Institution,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
Graduation Year,,,,,,,,,
1997-01-01,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,USA,13,3.7,Dean’s List
1975-01-01,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,USA,5,NaN,Dean’s List

In [2170]:
df_alumni.resample('10YE').size()  #группировка по десятилетиям и количество выпускников

Graduation Year
1903-12-31     1
1913-12-31     0
1923-12-31     0
1933-12-31     0
1943-12-31     0
1953-12-31     1
1963-12-31     7
1973-12-31    13
1983-12-31    19
1993-12-31    31
2003-12-31    27
2013-12-31     5
2023-12-31     4
Freq: 10YE-DEC, dtype: int64

In [2171]:
df_alumni.resample('10YE')['Field'].value_counts().groupby(level=0).head(1)
#наиболее популярная область обучения для каждого десятилетия
#(level=0).head(1) подглядела у дипсика, потому что не знала, как отобразить только самую поп область
#(без этого показывает количество людей на каждую область в каждом десятилетии)

Graduation Year  Field
1903-12-31       Physics                    1
1953-12-31       Economics                  1
1963-12-31       Engineering                4
1973-12-31       Economics                  3
1983-12-31       Business                   3
1993-12-31       Computer Science           6
2003-12-31       Computer Science           3
2013-12-31       Computer Science           2
2023-12-31       Business Administration    1
Name: count, dtype: int64

In [2172]:
df_alumni['GPA (or Equivalent)'] = df_alumni['GPA (or Equivalent)'].apply(gpa_to_num) #берем код оттуда, где чистили столбец с гпа
df_alumni['GPA (or Equivalent)'] = df_alumni['GPA (or Equivalent)'].fillna(df['GPA (or Equivalent)'].mean()) #заполняем столбец с гпа средним значением в новом дф

df_alumni.resample('10YE').agg({'GPA (or Equivalent)': 'mean'}) #считаем среднее

                 GPA (or Equivalent)
Graduation Year
1903-12-31                  3.771765
1913-12-31                       NaN
1923-12-31                       NaN
1933-12-31                       NaN
1943-12-31                       NaN
1953-12-31                  3.900000
1963-12-31                  3.828571
1973-12-31                  3.749502
1983-12-31                  3.763282
1993-12-31                  3.748046
2003-12-31                  3.787843
2013-12-31                  3.900000
2023-12-31                  3.667941